.home-container {
  background-image: url("https://res.cloudinary.com/dqh2illb5/image/upload/v1713835678/fondos/JuliusVerne2_sfdtej.jpg");
  background-size: center;
  background-position-y: top;
}

.saludo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  text-align: center;
  backdrop-filter: blur(2px);
  
}

.home-title {
  font-size: 4.7vw;
  color: rgb(188, 241, 10);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(195, 213, 248, 0.5);
  margin-top: 15vw;
  margin-bottom: 5vw;
  border-radius: 20px;
}

.home-text {
  font-size: 2.5vw;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 15px 15%;
  text-align: center;
  background-color: rgba(195, 213, 248, 0.5);
  border-radius: 15px;
}



.text-color-especialito {
  color: rgb(46, 153, 7);
}